.draggable{
    width: auto;
    height: auto;
    position: absolute;
    top: 10%;
    left: 10%;
}
.ram{
    width: 7%;
}
.ram img{
    width:100%;
    height:auto;
}
#motherboard{
    width: auto;
    height: auto;
}
#motherboard img{
    width:60%;
    height:auto;
}
#motherboard .test{
    width: 10%;
    background-color: red;
}
#container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aqua;
}